span {
  font-weight: bold;
  background: lightgray;
  padding: 0.3em 0.8em;
  cursor: pointer;
  user-select: none;
}

.play-container {
  padding: 3em;
  border: 1px solid lightgray;
  margin-bottom: 1em;

  input {
    padding: 1em;
    margin-bottom: 2em;
  }
}

.active {
  border: 2px solid rgba(193, 0, 0, 0.726);
  border-radius: 5px;
  background-color: aliceblue;
}

.notactive {
  border: 2px solid rgba(0, 71, 193, 0.726);
  border-radius: 5px;
  background-color: rgb(255, 240, 240);
}
